@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 55% 92%;
    --foreground: 210 50% 12%;

    --card: 0 0% 100%;
    --card-foreground: 210 50% 12%;

    --popover: 0 0% 100%;
    --popover-foreground: 210 50% 12%;

    --primary: 210 58% 23%;
    --primary-foreground: 0 0% 100%;

    --secondary: 207 77% 53%;
    --secondary-foreground: 0 0% 100%;

    --muted: 210 40% 85%;
    --muted-foreground: 210 30% 40%;

    --accent: 127 45% 32%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;

    --border: 210 30% 75%;
    --input: 210 30% 85%;
    --ring: 207 77% 53%;

    --radius: 0.5rem;

    --sidebar-background: 210 58% 23%;
    --sidebar-foreground: 0 0% 100%;
    --sidebar-primary: 207 77% 53%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 210 58% 28%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 210 58% 28%;
    --sidebar-ring: 207 77% 53%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-family: "Roboto", sans-serif;
  }
}
